@model Mrt.Northwind.MvcWepUI.Models.CardSummaryViewModel

<ul class="dropdown-menu">
    @foreach (var cardLine in @Model.Card.CartLines)
    {
        <li>
            <a class="dropdown-item">@cardLine.Product.ProductName &nbsp;<span class="badge text-bg-secondary"> @cardLine.Quantity</span></a>
        </li>
    }
    <li><hr class="dropdown-divider"></li>
    <li>
        <a class="dropdown-item"><span class="bi bi-cart2" aria-hidden="true">&nbsp;  @Model.Card.Total</span></a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
        <a class="dropdown-item" asp-controller="Card" asp-action="List">Go to card details</a>
    </li>
</ul>
